<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>🌸</title>
</head>
<body>
    <h1>🌸</h1>
    <div id="input-container">
        <input type="text" id="textInput" placeholder="Enter text">
        <button id="showTableButton">Dự đoán</button>
    </div>
    <div id="table-container">
        <table id="dataTable">
            <!-- Table content will be added here dynamically -->
        </table>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
